.off-canvas {
  height: 100vh;
  padding-top: rem-calc(61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .social-share {
    padding-bottom: 0;
  }
}

.off-canvas-wrapper {
  background-color: $white;
}


.mobile-nav {
  margin-bottom: rem-calc(45);
}

//search reveal
.is-reveal-open .reveal-overlay {
  animation-duration: 0.25s;
  animation-name: fadein;
  opacity: 1;
}

.reveal {
  @include disable-mouse-outline;

  h3 {
    color: $white;
  }

  .close-button {
    color: rgba($white, 0.5);
  }

  @include breakpoint(small only) {
    padding-top: rem-calc(60);
  }
}
