/* page header for full-width template. */
.image-header {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  max-height: 90vh;
  //border-bottom: 3px solid $light-gray;
  box-shadow: inset 2px 2px 5px 0 rgba($black, 0.3);
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(37,40,46,.6),rgba(37,40,46,0) );
    opacity: 1;
  }

  img {
    opacity: 1;
    width: 100%;
  }
  h1 {
    color: $white;
  }
  &--headline {
    position: absolute;
    bottom: rem-calc(48);
    z-index: 1;
    width:100%;
    max-width: $global-width;
    left: 50%;
    transform: translateX(-50%);
  }
}


.on_page_title {
  padding-top: rem-calc(50);
}