/* page header for full-width template. */
.image-header {
  overflow-y: hidden;
  display: flex;
  align-items: center;
  max-height: 90vh;
  border-bottom: 3px solid $light-gray;

  img {
    opacity: 1;
    width: 100%;
  }
}


.on_page_title {
  padding-top: rem-calc(50);
}