/* shop cards */
.shop-feed {
  margin: 0 rem-calc(10) 0;
  @include breakpoint(medium){
    margin: 0 rem-calc(15) 0;
  }
  @include breakpoint(large){
    margin: 0 rem-calc(30) 0;
  }
  &-inner {
    max-width: $global-width;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $gray;
    border-radius: $global-radius;
    padding:  rem-calc(10) ;
    @include breakpoint(medium){
      padding: rem-calc(16);
    }
    @include breakpoint(large){
      padding: rem-calc(24);
    }

    .products {
      li{
        &:last-of-type {
          @media screen and #{breakpoint(medium only)} and #{breakpoint(large down)}{
            max-width: 100%;
            width: 100%;
            flex: 1 1 100%;
          }
        }
      }
    }
  }
}
.shop-card {
  padding: 0 rem-calc(2.5);

  .shop-card-inner{
    text-align: center;
    background-color: $off-white;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

  }
  .shop-image-wrapper {
    padding: 5.625rem 3.75rem;
    background-color: $off-white;
    img {
      box-shadow: 2px 3px 8px rgba(0,0,0,.4), -6px 2px 14px rgba(212,194,174,.6);
      border-radius: 2px;
      transition: box-shadow .25s;
      &:hover {
        box-shadow:-12px 4px 28px rgba(212,194,174,.6), 8px 12px 30px rgba(0,0,0,.4);
      }
    }

  }
  .shop-text-content {
    padding-top: rem-calc(30);
    background-color:$white;
  }


}
.shop-price, %shop-price {
  line-height: (16/16);
  font-family: $font-family-monospace;
  font-size: rem-calc(16);
  text-align: center;
  display: block;
}




.shop-headline-wrapper {
  text-align: center;
  margin-top: rem-calc(-25);
  padding-bottom: rem-calc(10);
  transform: translateX(#{rem-calc(-16)});
  text-align: left;
  @include breakpoint(medium){
    margin-top: rem-calc(-35);
  }
  @include breakpoint(large){
    margin-top: rem-calc(-50);
  }

}

.shop-headline {
  display: inline-block;
  font-size: 1.5rem;
  font-family: adelle-sans,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 700;
  color: #545963;
  background-color: $white;
  padding: 0 rem-calc(16);
}

.shop-cta {
  margin-top: rem-calc(32);
  text-align: center;

  &.red {

  }
  &.green {

  }
  &.blue{

  }
  &.yellow {

  }
}