.portfolio-grid-item {
  margin-bottom: rem-calc(30);
  display: flex;
  justify-content: center;

  &-inner {
    padding: rem-calc(30) rem-calc(30) rem-calc(60);
    text-align: center;
    background-color: transparent !important;
    border: 1px solid transparent;
    transition: border-color .25s;
    position: relative;
    border-radius: $global-radius-rounded;

    @include breakpoint(small only) {
      padding: rem-calc(30) rem-calc(15) rem-calc(30);
    }


    @include breakpoint(medium only) {
      padding: rem-calc(30) rem-calc(15) rem-calc(60);
    }


    &:hover, &:focus {
      border-color: rgba($blue-gray, 0.4);

      .learn-more {
        color: $blue-gray;
      }
    }

    img {
      box-shadow: 5px 7px 6px 3px rgba(0, 0, 0, 0.1), -5px 3px 7px 1px rgba(0, 0, 0, 0.2);
      width: 100%;
      outline: 2px solid rgba($dark-gray, 0.2);
      outline-offset: -1px;
      border-radius: 2px;
    }

    h2 {
      margin: rem-calc(30) auto rem-calc(15);
      text-align: left;
      line-height: 1.1;
      font-style: italic;
      font-size: rem-calc(16);
      border-top: 1px solid rgba($blue-gray, 0.4);
      padding-top: rem-calc(15);
    }

    h4 {
      text-align: left;
      font-family: $body-font-family;
      font-size: rem-calc(12);
      text-transform: lowercase;
      opacity: 0.6;
    }

    .learn-more {
      text-align: left;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $primary-color;
      font-size: rem-calc(12);
      position: absolute;
      bottom: -8px;
      background-color: white;
      padding: 0 rem-calc(10);
      margin-bottom: 0;
      color: transparent;
      transition: color 0.3s;
    }
  }

  a {
    color: $blue-gray;
    align-self: center;
    display: flex;
  }
}

.archive .portfolio-grid {
  opacity: 1;
}

.portfolio-grid {
  padding: rem-calc(30) 0;
  margin: 0 rem-calc(15) rem-calc(30);

  // background-color: $white;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 1) 50px, rgba(255, 255, 255, 1) 51px);

  @include breakpoint(medium) {
    padding: rem-calc(30) rem-calc(15);
    margin: 0 rem-calc(30) rem-calc(30);
  }


  @include breakpoint(large) {
    padding: rem-calc(30) 0;
    margin: 0 0 rem-calc(30);
  }
}

.portfolio-grid-wrapper {
  position: relative;

  #loader {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
    height: 0;
    width: calc(100% - 40px);
    background-image: url("../images/ellipsis.svg");
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-size: 100px;
    background-color: $off-white;

    // background-color: #DCDCDC;

    &.active {
      z-index: 1;
    }
  }
}

.image-header + .wrap .portfolio-grid {
  margin: rem-calc(-105) rem-calc(15) rem-calc(30);

  @include breakpoint(medium up) {
    margin: rem-calc(-105) rem-calc(30) rem-calc(30);
  }
}


